

<p>
Bonjour,</p>

<p>Une nouvelle annonce, <%= @publication.title %> vient d'être publiée, et peut être
facturée au client <%= @publication.customer %></p>

<p>Pour générer la facture, rendez-vous sur la page [URL DE L'APP].</p>

<p>Bonne journée !</p>
