<div class="container">
  <div class="row">
    <h2>Facture ref:  <%= @bill.reference %></h2>
    <h2>Montant: <%= @bill.amount%> €</h2>

    <%= link_to "Télécharger le pdf", "#"  %>
  </div>
</div>
